<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target xsi:type="Console" name="console" encoding="utf-8"
     layout="${longdate} ${uppercase:${level}} ${callsite}: ${message}" />
      </targets>
      <target name="file" xsi:type="File"
               fileName="${basedir}/logs/log.${longdate:cached=true}.log"
               layout="${longdate} ${uppercase:${level}} THREAD-${threadid} ${callsite}: ${message}"
               archiveFileName="${basedir}/logs/archives/${shortdate}.{#}.log"
            
               archiveEvery="Day"
               archiveNumbering = "Rolling"
               maxArchiveFiles="20"
             />
      <rules>
        <logger name="*" minlevel="Trace" writeTo="console"/>
        <logger name="*" minlevel="Debug" writeTo="file" />
      </rules>
    </nlog>
  </runtime>
</configuration>
