@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1 class="title">Aggregated feeds</h1>
    <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    <div id="content">
        @Html.React("Scripts.WebsiteFeed", new { rendered=true })
    </div>
    <script src="@Url.Content("~/build/client.bundle.js")"></script>


    @Html.ReactInitJavaScript()
</body>
</html>
